.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--secoundary200);
}

.animate_editor_wapper {
  flex: 1;
  height: 100%;
  background-color: var(--secoundary200);
  display: grid;
  grid-template-rows: 1fr max-content;
}

.player_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
