:root {
  --primary: #c814a1;
  --secoundary100: #45454a;
  --secoundary200: #2d2d32;
  --secoundary300: #242424;
  --secoundary400: #1e1e1e;
  --text: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
